# .dockerignore

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Django
staticfiles/
media/

# Virtual environment
venv/
ENV/
env/
.venv/

# Docker
docker-compose.yml
Dockerfile

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
